@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.citysize, .localtemp, .phrasesize{
  font-family: 'Hammersmith One', sans-serif ;
  
}
.weather-data{
  font-family: 'Raleway', sans-serif;
}
.bg-blue{
  background: rgb(69 159 255 / 50%)!important;
}